.form {
  width: 358px;
  margin-top: 24px;
  margin-left: 32px;
  margin-bottom: 37px;
}

@media screen and (max-width: 545px) {
  .form {
    width: 238px;
    margin-left: 22px;
    margin-top: 40px;
    margin-bottom: 25px;
  }
}
