.popup__container_img {
  position: relative;
  /* margin-top: 16px; */
  /* margin-bottom: 90px; */
  /* max-height: 75vh;
  max-width: 75vw; */
  margin-left: 0;
  margin-right: 0;
  background-color: transparent;
  z-index: 3;
}

/* @media screen and (max-width: 545px) {
  .popup__container_img {
    height: 299px;
    margin: 0;
  }
} */
