.button_submit {
  width: 358px;
  background-color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  height: 50px;
  margin-top: 48px;
}

.button_submit:hover {
  opacity: 0.6;
  transition: opacity 1s ease;
}

@media screen and (max-width: 545px) {
  .button_submit {
    width: 238px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
    height: 46px;
  }
}
