.profile__avatar {
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

.profile__avatar:hover .profile__avatar_cover {
  opacity: 1;
  transition: 0.4s ease;
}
