.button_inactive {
  opacity: 0.2;
  background-color: white;
  color: black;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 2px;
}

.button_inactive:hover {
  opacity: 0.2;
  background-color: white;
  color: black;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 2px;
}
