.popup__button_type_closepicture {
  margin-bottom: 80vh;
}

@media screen and (max-width: 545px) {
  .popup__button_type_closepicture {
    margin-bottom: 4px;
    margin-left: 224px;
    margin-top: 87px;
    width: 20px;
    height: 20px;
  }
}
