.popup__button_type_closepicture {
  margin-top: -44px;
}

@media screen and (max-width: 545px) {
  .popup__button_type_closepicture {
    margin: 0px;
    margin-left: -20px;
    margin-top: -36px;
  }
}
