.popup__button_type_submit {
  width: 358px;
  background-color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin-top: 48px;
  padding: 14px;
  border: 0;
}

@media screen and (max-width: 545px) {
  .popup__button_type_submit {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}

.popup__button_type_submit:hover {
  opacity: 0.6;
  transition: opacity 1s ease;
}
