.element {
  max-width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 882px) {
  .element {
    max-width: 100%;
    min-width: 282px;
  }
}
