.logo_white {
  background-image: url(../../../images/logo_white.svg);
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 592px) {
  .logo_white {
    width: 103px;
    height: 24px;
    background-size: contain;
  }
}
