.element__button_type_delete {
  background-image: url(../../../../../images/Trash.svg);
  width: 18px;
  height: 19px;
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.element__button_type_delete:hover {
  opacity: 0.6;
  transition: opacity 1s ease;
}
