.button_edit {
  width: 24px;
  height: 24px;
  margin: 0 0 8px 0;
  background-color: black;
}

@media screen and (max-width: 592px) {
  .button_edit {
    width: 18px;
    height: 18px;
    margin: 0;
  }
}

.button_edit:hover {
  opacity: 0.6;
  transition: opacity 1s ease;
}
